#!/usr/bin/env bash

# https://github.com/fieldsets/object-cache-plugin
# Redis Backed Object Cache Served with Pode PowerShell REST API
    OBJECT_CACHE_INDEX=1
    REDIS_HOST='0.0.0.0'
    REDIS_PORT=6379
    REDIS_CONFIG_PATH
